.overlay {
    width: 100%;


    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;

    display: flex;
    justify-content: end;
    align-items: end;

    background-color: rgba($background-dark, 0.2);

    &__aside-wrapper {
        padding: 2rem;

        width: 60%;

        background-color: $background-light;
    }

    .aside-close {
        margin-bottom: 2rem;
        transition: color 0.2s ease;
        border-radius: 0;

        &:hover,
        &:active {
            color: $border-light;
            background-color: $background-dark;
        }
    }

}