

//Colors 
$white: #f5f5f5;
$text-black: #444;
$text-light: #ebebeb;
$border-light: #c6c6c6;
$border-dark: #444;
$background-light: #fff;
$background-dark: #2c2c2c;
$placeholder-color: #b0afaf;
$box-shadow-color: rgba(68, 68, 68, 0.2);


//Border
$border_radius: 0.5rem;